
<!-- the home template, can take in data from express render function -->

<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="10"></th>
                <th colspan="6" style="text-align: -webkit-center;">HOME</th>
                <th colspan="6" style="text-align: -webkit-center;">AWAY</th>                
            <tr>

                <th>POS</th>
                <th>TEAM</th>
                <th>PG</th>
                <th>PTS</th>
                <th>G</th>
                <th>GA</th>
                <th>GD</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>

<!--HOME-->
                <th></th>
                <th>G</th>
                <th>GA</th>
                <th>W</th>
                <th>D</th>  
                <th>L</th>
<!--AWAY-->               
                <th></th>                                    
                <th>G</th>
                <th>GA</th>
                <th>W</th>
                <th>D</th>  
                <th>L</th>                

            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{position}}</td>
                    <td>{{teamName}}</td>
                    <td>{{playedGames}}</td>
                    <td>{{points}}</td>
                    <td>{{goals}}</td>
                    <td>{{goalsAgainst}}</td>
                    <td>{{goalDifference}}</td>
                    <td>{{wins}}</td>
                    <td>{{draws}}</td>
                    <td>{{losses}}</td>      


                    <td></td>
                    <td>{{goals}}</td>
                    <td>{{goalsAgainst}}</td>
                    <td>{{wins}}</td>
                    <td>{{draws}}</td>
                    <td>{{losses}}</td> 

                    <td></td>
                    <td>{{goals}}</td>
                    <td>{{goalsAgainst}}</td>                    
                    <td>{{wins}}</td>
                    <td>{{draws}}</td>
                    <td>{{losses}}</td>

                </tr>
            {{/each}}        
        </tbody>
    </table>
</div>